<swiper
  class="container-second"
  [autoplay]="true"
  [keyboard]="true"
  [pagination]="true"
>
  <ng-template swiperSlide class="container-second--template">
    <h1 class="container-second__title">
      Cooking <br />Experience<br />Like a Chef
    </h1>
    <p class="container-second__subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing In aspernatur, quisquam
      veniam cum sint dolorum quidem
    </p>
  </ng-template>
  <ng-template swiperSlide class="container-second--template">
    <h1 class="container-second__title">
      Cooking <br />Experience<br />
      2
    </h1>
    <p class="container-second__subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing In aspernatur, quisquam
      veniam cum sint dolorum quidem
    </p></ng-template
  >
  <ng-template swiperSlide class="container-second--template">
    <h1 class="container-second__title">Cooking <br />Experience<br />3</h1>
    <p class="container-second__subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing In aspernatur, quisquam
      veniam cum sint dolorum quidem
    </p></ng-template
  >
</swiper>
