<ion-content class="main">
  <div class="container">
    <ion-img
      class="container__img"
      src="../../assets/imgs/img-chef.png"
    ></ion-img>
  </div>
  <app-swiper></app-swiper>
  <div class="container-button">
    <ion-icon name="restaurant-outline" id="restaurant"></ion-icon>
    <ion-button class="container-second__button" routerLink="/landing" id="container-second__button">
      Next
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
